<div class="resource-grid">
    <div>{{ category }}</div>
    <br>
    <div>{{ items }}</div>
    <br>
    {% for vpc in items %}
    <div class="resource-card">
        <div class="resource-header">
            <span class="resource-name">{{ vpc.name or 'Unnamed VPC' }}</span>
            <code class="text-id-sm">{{ vpc.id }}</code>

            {% for subnet in items %}
            <div class="subnet-mini-grid">

                <div class="subnet-tile">
                    <div class="subnet-tile-name" title="{{ subnet.name }}">{{ subnet.name }}</div>
                    <div class="subnet-tile-cidr">{{ subnet.subnet_address or subnet.cidr }}</div>
                </div>
            {% endfor %}

        </div>
    </div>
    {% endfor %}
</div>